sy-poc-simulation/src/main/resources/xsd/message_1_0.xml.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="service">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="action">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="data">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="country" />
													<xs:element type="xs:string" name="order_no" />
													<xs:element type="xs:int" name="product_id" />
													<xs:element type="xs:string" name="subscription_start" />
													<xs:element type="xs:string" name="subscription_end" />
													<xs:element type="xs:string" name="priority" />
													<xs:element type="xs:byte" name="nofsmartcards" />
													<xs:element type="xs:string" name="smartcard_list" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:string" name="name" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="name" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:string" name="name" />
		</xs:complexType>
	</xs:element>
</xs:schema>